html, body, p, ul { padding:0; margin:0; border:0; }

body { background-image:url('bodybg.png'); background-repeat:repeat-y; background-position:30% 0%; margin:50px 0 0;
font-size:10px; color:#222; text-align:center; }

a { text-decoration:none; color:#222; }
a:hover { text-decoration:underline; }

#container { background-image:url('cloud.png'); width:100%; background-position:50% 0%; height:600px; background-repeat:no-repeat; position:relative; font-family:Georgia, serif;  }

#sky { text-align:left; width:775px; padding-left:10px; margin:0 auto; font-weight:900; letter-spacing:-1px;
font-size:2.4em; text-shadow: -1px 1px 1px #999; }

h1 { position:relative; top:-15px; height:295px; text-indent:-9999px; }


#explain { text-align:center; text-transform:uppercase; font-family:Arial,sans-serif; letter-spacing:-1px; position:relative; z-index:99; }
#explain span { font-family:Georgia, serif; text-transform:lowercase; font-style:italic; letter-spacing:-2px; font-size:1.2em; }

#hurricane li { display:block; position:fixed; bottom:0; left:0; width:100%; height:238px; background-repeat:repeat-x; text-indent:-9999px; background-image:url('hurricane.png'); }
#andrew { background-position:200px 10px; }
#ivan { background-position:-700px 20px; }
#rita { background-position:40px 20px; }
#katrina { background-position:300px 20px; }

#footer {  text-align:center; position:fixed; bottom:20px; z-index:99; width:100%; *left:0; }

#links { list-style-type:none; font-family:Arial,sans-serif; font-size:1.8em; text-transform:lowercase; font-weight:normal; letter-spacing:0; color:#f9f9f9; width:775px; margin:100px auto 0 auto; }
#links li { display:inline; padding:0 20px 0 16px; line-height:2em; border-right:1px solid #f9f9f9;}
#links li.last { border-right:none; }
#links a { color:#f9f9f9;  white-space:nowrap;  }
#links span { font-size:.5em; font-weight:900;  text-transform:uppercase; letter-spacing:-1px; }
