@font-face {
  font-family: 'melbourneregularregular';
  src: url("/assets//fonts/melbourne.eot");
  src: url("/assets//fonts/melbourne.woff") format("woff"), url("/assets//fonts/melbourne.ttf") format("truetype"), url("/assets//fonts/melbourne.svg#melbourneregularregular") format("svg"); }

html,
body,
p,
ul {
  border: 0;
  margin: 0;
  padding: 0; }

body {
  background-attachment: fixed;
  background-color: #E7E689;
  background-position: 50% 40px;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #222;
  font-family: 'melbourneregularregular', Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 0;
  text-align: center; }

a {
  color: #222;
  text-decoration: none; }

h1 {
  color: #0792cb;
  display: inline-block;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 6px;
  line-height: 1.2;
  margin: 30px 0 0;
  text-shadow: -2px 2px 1px #64C39D;
  text-transform: uppercase; }

h2 {
  font-family: Georgia, serif;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  letter-spacing: -2px;
  text-transform: lowercase;
  display: block;
  margin: 30px auto 30px; }
  h2 sup,
  h2 sub,
  h2 span {
    font-size: 1.35em; }

.links {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 0;
  list-style: none;
  margin: 0 auto;
  text-transform: lowercase; }

.links li {
  line-height: 2em;
  padding: 0 20px 0 16px; }

.links a {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  outline: none;
  width: 220px;
  line-height: 30px; }

.links a span {
  background: magenta;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  width: 100%;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .35s;
          transition: all .35s; }

.links a:hover span,
.links a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
          transform: rotateX(90deg) translateY(-22px); }

.links a span:before {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  content: attr(data-hover);
  height: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0; }

.cnn-expansion {
  margin: .5em 0 1em; }

.sublinks {
  list-style: none; }

.sublinks li {
  padding: 0 .25em; }

.sublinks a {
  display: inline-block; }

.link-group-header {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 1em;
  letter-spacing: -1px; }

.at {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: .8em;
  position: relative;
  top: -1px; }

@media (max-width: 480px) {
  .banner h1 {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    border-bottom: 0; } }
