<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport"
              content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description"
              content="Michael Puckett is a San Francisco based developer and designer who's out to make some serious waves.">
        <title>Michael Puckett wants to make some serious waves</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
    <body>
        <div class="banner">
            <h1>Michael Puckett</h1>
        
						<h2>
                <span>User Interface Engineer</span>
            </h2>
				</div>
							<ul class="links">	
                        <li>
                            <a target="_blank" href="http://www.apple.com">
                                <span data-hover="Apple">Apple</span>
                            </a>
                        </li>
                <li>
                    <a target="_blank" href="http://www.cnn.com">
                        <span data-hover="CNN">CNN</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.nationalguard.com">
                        <span data-hover="National Guard">National Guard</span>
                    </a>
                </li>
								<li>
                    <a target="_blank" href="http://www.fruit.com">
                        <span data-hover="Fruit of the Loom">Fruit of the Loom</span>
                    </a>
                </li>
								<li>
                    <a target="_blank" href="http://www.jerzees.com">
                        <span data-hover="Jerzees Activewear">Jerzees Activewear</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.redkap.com">
                        <span data-hover="Red Kap">Red Kap</span>
                    </a>
                </li>
								</ul>
								
						<ul class="links links-secondary">
						
                <li>
                    <a href="/assets/michael_puckett_resume.pdf">
                        <span data-hover="Resume">Resume</span>
                    </a>
                </li>
						<li>
                    <a href="mailto:michaelcpuckett@gmail.com">
                        <span data-hover="Email">Email</span>
                    </a>
                </li><li>
                    <a href="http://www.linkedin.com/in/michaelcpuckett" target=_"blank">
                        <span data-hover="LinkedIn">LinkedIn</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.github.com/michaelcpuckett">
                        <span data-hover="Github">Github</span>
                    </a>
                </li>
            </ul>
         </div>
    </body>
</html>
