<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport"
              content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description"
              content="Michael Puckett is a San Francisco based developer and designer who's out to make some serious waves.">
        <title>Michael Puckett wants to make some serious waves</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
    <body>
        <div class="banner">
            <h1>Michael Puckett</h1>
        </div>
        <div class="container">
            <div class="explain">
                <p><span>developer &amp; designer.</span></p>
            </div>
        </div>
        <div class="footer">
            <ul class="links">
                <li>
                    <a href="/assets/michael_puckett_resume.pdf">
                        <span data-hover="Download My Resume">Download My Resume</span>
                    </a>
                </li>
                <li>
                    <h2 class="link-group-header">
                        Current Work
                    </h2>
                    <ul class="sublinks">
                        <li>
                            <a target="_blank" href="http://store.apple.com">
                                <span data-hover="Apple Online Store">Apple Online Store</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--<li class="cnn-expansion">
                    <h2 class="link-group-header">
                        CNN.com Redesign
                    </h2>
                    <ul class="sublinks">
                        <li>
                            <a target="_blank" href="http://www.fastcodesign.com/1673282/cnns-redesign-will-color-code-news-like-a-mood-ring">
                                <span data-hover="Read on Fast Company">Read on Fast Company</span>
                            </a>
                        <li>
                            <a target="_blank" href="http://mashable.com/2013/08/14/cnn-web-redesign/">
                                <span data-hover="Read on Mashable">Read on Mashable</span>
                            </a>
                        <li>
                            <a target="_blank" href="http://www.adweek.com/news/television/cnns-remodeled-digital-platform-looks-really-expensive-151849">
                                <span data-hover="Read on AdWeek">Read on AdWeek</span>
                            </a>
                        </li>
                    </ul>
                </li>--><li>
                    <h2 class="link-group-header">
                        Older work
                    </h2>
                </li>
                <li>
                    <a target="_blank" href="http://www.cnn.com">
                        <span data-hover="CNN">CNN</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.nationalguard.com">
                        <span data-hover="National Guard">National Guard</span>
                    </a>
                </li><!--<li>
                    <a target="_blank" href="http://specialforces.nationalguard.com">
                        <span data-hover="NG Special Forces">NG Special Forces</span>
                    </a>
                </li>--><li>
                    <a target="_blank" href="http://www.fruit.com">
                        <span data-hover="Fruit of the Loom">Fruit of the Loom</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.jerzees.com">
                        <span data-hover="Jerzees Activewear">Jerzees Activewear</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.redkapautomotive.com">
                        <span data-hover="Red Kap Automotive">Red Kap Automotive</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.redkap.com">
                        <span data-hover="Red Kap">Red Kap</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.bulwark.com">
                        <span data-hover="Bulwark">Bulwark</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.horacesmall.com">
                        <span data-hover="Horace Small">Horace Small</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.iostudio.com">
                        <span data-hover="iostudio">iostudio</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.twicedaily.com">
                        <span data-hover="Twice Daily">Twice Daily</span>
                    </a>
                </li><li>
                    <h2 class="link-group-header">
                        Social
                    </h2>
                </li>
                <li>
                    <a href="mailto:michaelcpuckett@gmail.com">
                        <span data-hover="Email">Email</span>
                    </a>
                </li><li>
                    <a href="http://www.linkedin.com/in/michaelcpuckett" target=_"blank">
                        <span data-hover="LinkedIn">LinkedIn</span>
                    </a>
                </li><li>
                    <a href="http://www.twitter.com/mpuckett" target="_blank">
                        <span data-hover="Twitter">Twitter</span>
                    </a>
                </li><li>
                    <a target="_blank" href="http://www.github.com/michaelcpuckett">
                        <span data-hover="&hearts; Github">&hearts; Github</span>
                    </a>
                </li>
            </ul>
         </div>
         <ul class="hurricane">
                <li class="andrew">let's
                <li class="ivan">make
                <li class="rita">some
                <li class="katrina">waves ;)
         </ul>
    </body>
</html>
