<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport"
              content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description"
              content="Michael Puckett is a San Francisco based developer and designer who's out to make some serious waves.">
        <title>Michael Puckett wants to make some serious waves</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <h1>Michael Puckett</h1>
			<h2>UI Engineer</h2>	
		</header>
		<ul class="links">	
        {{#links}}
			<li>
				<a target="_blank" href="{{url}}">{{title}}</a>
			</li>
		{{/links}}
		</ul>
		<ul class="links links-secondary">
        {{#secondary-links}}
			<li>
				<a target="_blank" href="{{url}}">{{title}}</a>
			</li>
		{{/secondary-links}}
		</ul>
		<script src="http://107.170.205.167:35729/livereload.js?snipver=1"></script>
    </body>
</html>
