/* line 1, ../scss/login-module.scss */
body {
  margin: 0;
}

/* line 6, ../scss/login-module.scss */
.login-module,
.login-module * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../scss/login-module.scss */
.login-module {
  background-color: #232323;
  color: #e8e8e8;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 40px 10%;
  margin: 10px auto;
  max-width: 500px;
}
@media (min-width: 500px) {
  /* line 12, ../scss/login-module.scss */
  .login-module {
    padding-left: 100px;
    padding-right: 100px;
  }
}
/* line 34, ../scss/login-module.scss */
.login-module h2,
.login-module input {
  margin-bottom: 25px;
}
/* line 38, ../scss/login-module.scss */
.login-module h2 {
  font-size: 14px;
  margin-top: 0;
}
/* line 44, ../scss/login-module.scss */
.login-module input,
.login-module button {
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}
/* line 52, ../scss/login-module.scss */
.login-module input {
  background-color: #e8e8e8;
  padding: 10px;
}
/* line 57, ../scss/login-module.scss */
.login-module button {
  background-color: #db4a39;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 0;
}
/* line 65, ../scss/login-module.scss */
.login-module button:hover {
  background-color: #be3323;
}

/* line 71, ../scss/login-module.scss */
.tests {
  background-color: #D2E0E6;
  bottom: 0;
  color: #366097;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
