@function path ($url) {
    @return '/assets/' + $url;
}

@font-face {
    font-family: 'melbourneregularregular';
    src: url(path('fonts/melbourne.eot'));
    src: url(path('fonts/melbourne.woff')) format('woff'), url(path('fonts/melbourne.ttf')) format('truetype'), url(path('fonts/melbourne.svg#melbourneregularregular')) format('svg');
}

$swatch-yellow: #E7E689;
$swatch-magenta: magenta;
$swatch-teal: #0792cb;
$swatch-green: #64C39D;

html,
body,
p,
ul {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-color: $swatch-yellow;
    background-position: 50% 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #222;
    font-family: 'melbourneregularregular', Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0;
    text-align: center;
		min-height: 133vh;
}

a {
    color:#222;
    text-decoration: none;
}

h1 {
    color: $swatch-teal;
    display: inline-block;
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 6px;
    line-height: 1.2;
    margin: 30px 0 0;
    text-shadow: -2px 2px 1px $swatch-green;
    text-transform: uppercase;

	@media (max-width: 480px) {
        display: block;
        margin-bottom: 10px;
        margin-top: 5px;
        border-bottom: 0;
    }
}

h2 {
    font-weight: 900;
    line-height: 1.2;
 	text-align: center;
    font-size: 32px;
    text-transform: uppercase;
	display: block;
	margin: 25px auto 35px;
	color: $swatch-green;
}

 .links {
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: 0;
    list-style: none;
    margin: 0 auto;
    text-transform: lowercase;

	li {
    	line-height: 2em;
    	padding: 0 20px 0 16px;
	}

 	a {
    	background: $swatch-teal;
    	padding-bottom: 3px;
		height: 40px;
		line-height: 40px;
		margin-bottom: 10px;
    	color: white;
    	font-size: 16px;
    	letter-spacing: 1px;
    	text-transform: uppercase;
    	position: relative;
    	display: inline-block;
    	outline: none;
    	width: 220px;
	}

	&.links-secondary a {
		background-color: $swatch-green;
	}
}

.at {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: .8em;
    position: relative;
    top: -1px;
}
